version: "1.0"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fortunecloud-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - fortunecloud-network
    restart: unless-stopped

networks:
  fortunecloud-network:
    driver: bridge
