REACT_APP_API_URL=http://13.203.155.174:5000/api

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyCKzpssVySqM8yIujuiZr9iTRwzgj12CmQ
REACT_APP_FIREBASE_AUTH_DOMAIN=fortune-cloud-franchise-app.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=fortune-cloud-franchise-app
REACT_APP_FIREBASE_STORAGE_BUCKET=fortune-cloud-franchise-app.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=864896641604
REACT_APP_FIREBASE_APP_ID=1:864896641604:web:7f6720cc8ff54d3009ea11
REACT_APP_FIREBASE_VAPID_KEY=G-6628NH9MNW
